
/**** color ****/
$color-primary = #409EFF
$color-danger = #e6645a
$color-warning = #f5b946
$color-success = #73cd55
$color-purple = #9B5AE5
$color-default = #2e3d4a
$color-cyan = #74c3fd
$color-emerald = #13c3a3
$color-primary-text = #383838
$color-regular-text = #606060
$color-secondary-text = #909090
$color-placeholder-text = #cccccc
$color-input-border = #d1d1d1
$color-border-text = #dadada
$color-dividing-line = #e8e8e8
$color-bg = #f5f5f5
$color-th-bg = #fcfcfc

