/**
 * @name playbar
 * @author jardenliu jarden@qq.com
 * @createDate 2019/9/2 上午11:37:59
 */

 @import '~base/base'

.playbar
    height 60px
    position absolute
    width 100%
    bottom 0
    padding 0 $padding-default
    flex-column-align(flex-start,center)
    border-top 1px solid $color-dividing-line 