/**
 * @name main
 * @author jardenliu jarden@qq.com
 * @createDate 9/25/2019, 5:43:47 PM
 */

 @import '~base/base'

 .main-container
    width calc(100% - 220px)
    height 100%
    padding 40px 0 10px