/**
 * @name playbar
 * @author jardenliu jarden@qq.com
 * @createDate 2019/9/2 上午11:37:59
 */

  .topbar
     position fixed
     height 40px
     width: calc(100vw - 2px)
     top 2px
     left: 1px
     z-index: 99999;
     border-radius: 4px
     display flex
     justify-content space-between
     padding: 0px 10px

     .right
         .menus
             margin-top 9px
         &:hover
            .menu
                color #000


.menu
    border none
    border-radius: 50%
    font-size: 12px
    padding: 0px
    transform: scale(0.75)
    cursor pointer
    color transparent
    outline: none
    & + .menu
        margin-left 4px
        

.min-btn
    background-color #f5b946

.max-btn
    background-color #73cd55

.close-btn
    background-color #e6645a