/**
 * @name playbar
 * @author jardenliu jarden@qq.com
 * @createDate 2019/9/2 上午11:37:59
 */

  .topbar
     position fixed
     height 40px
     width: 100vw
     top 2px
     left: 0
     z-index: 99999;
     border-radius: 4px
     display flex
     justify-content space-between
     align-items: center
     padding: 0 20px

     .right:hover
         .menu
             color #606666


.menu
    border none
    border-radius: 50%
    font-size: 12px
    padding: 2px
    transform: scale(0.7)
    cursor pointer
    color transparent
    outline: none
   
        

.min-btn
    background-color #E6A23C

.max-btn
    background-color #67C23A

.close-btn
    background-color #F56C6C